@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-bg text-white font-mono;
    font-family: 'Fira Code', monospace;
    background: radial-gradient(circle at 50% 50%, #1f1f38 0%, #000000 100%);
    background-size: cover;
    background-attachment: fixed;
  }
}